[aws]
symbol = "îŒ½  "

[battery]
full_symbol = "ï•¸"
charging_symbol = "ï–ƒ"
discharging_symbol = "ï–‚"

[[battery.display]]  # "bold red" style when capacity is between 0% and 10%
threshold = 10
style = "bold red"

[[battery.display]]  # "bold yellow" style when capacity is between 10% and 30%
threshold = 30
style = "bold yellow"

[conda]
symbol = "ï„Œ "
disabled = true

[docker_context]
symbol = "ïŒˆ "
only_with_files = true

[elixir]
symbol = "î‰µ "

[elm]
symbol = "î˜¬ "

[git_branch]
symbol = "ï˜ "

[golang]
symbol = "î˜§ "

# [haskell]
# symbol = "î˜Ÿ "

[hg_branch]
symbol = "ï˜ "

[java]
symbol = "î‰– "

[julia]
symbol = "î˜¤ "

[memory_usage]
symbol = "ï¡š "
style = "bold dimmed green"
threshold = 75
disabled = false

[nim]
symbol = "ïš¤ "

[nix_shell]
symbol = "ï‹œ "

[nodejs]
symbol = "î‰ "

[package]
symbol = "ï£– "

[php]
symbol = "î˜ˆ "

[python]
symbol = "î˜† "

[ruby]
symbol = "îˆ¾ "

[rust]
symbol = "ï€“ "

[custom.racket]
description = "Racket"
symbol = "ğº "
style = "bold blue"
extensions = ["rkt", "scrbl"]
command = """racket --version | cut -d "v" -f 2 | cut -d " " -f 1"""
format = "via [$symbol($output )]($style) "

[custom.os-macos]
description = "MacOS Version"
symbol = "îœ‘ "
command = "/usr/bin/sw_vers -productVersion"
when = """ test `uname -s` = "Darwin" """

[custom.os-linux]
symbol = "îœ’ "
when = """ test `uname -s` = "Linux" """

[custom.os-windows]
symbol = "îœ "
when = """ test `uname -s` = "Windows" """

